mixin link(href, name, icon)
    li.nav-item(class={active: currentUrl === href})
        a.nav-link(href=href)
            i.mr-1.fas.fa-lg.fa-fw(class=`fa-${icon}` aria-hidden='true')
            = name

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        block stylesheets
            link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
            link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')
            link(rel='stylesheet' href='/static/css/main.css')

        block title
            title Docker Manager
    body
        header
            nav.navbar.navbar-expand-md.navbar-dark.bg-primary
                a.navbar-brand(href='/')
                    | Docker Manager
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbar.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        +link('/status', 'Status', 'thermometer-half')
                    ul.navbar-nav
                        if loggedIn
                            +link('/logout', 'Sign out', 'sign-out')
                        else
                            +link('/login', 'Sign in', 'sign-in')
        main.container
            block content

        block scripts
            script(type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            script(type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js')
            script(type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js')
