.btn,
.page-item,
button.dropdown-item {
    cursor: pointer;
}

.nav-item.active {
    color: white;
    border-bottom: 1px solid white;
}

.nav-link {
    color: white !important;
}

.navbar-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

main {
    padding-top: 32px;
}

@media (min-width: 1400px) {
    .container {
        width: 80%;
        max-width: 80%;
    }
}
