extends layout/base

mixin action(action, name)
    form.d-inline(method='post' action=`/applications/${applicationName}/${serviceName}`)
        input(type='hidden', name='action', value=action)
        button.btn(type='submit')&attributes(attributes)= name

mixin actions
    +action('start', 'Start')(class='btn-outline-success mr-1')
    +action('stop', 'Stop')(class='btn-outline-danger mx-1')
    +action('restart', 'Restart')(class='btn-outline-danger mx-1')
    +action('update', 'Update')(class='btn-outline-primary ml-1')

block content
    h1
        = applicationName
        = ' - '
        = serviceName

    +actions()
